<% if user_signed_in? %>
  <p>
    Welcome, <%= current_user.email %>!
    <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>
  </p>
  
<% else %>
  <p>Welcome, Guest!</p>
  <p>
    <%= link_to "Login", new_user_session_path, method: :get %>
    <%= link_to "Sign up", new_user_registration_path, method: :get %>
  </p>
<% end %>

<h1>All Events</h1>

<% if @events.any? %>
    <ul>
        <% @events.each do |event| %>
            <li><%= "#{event.name} - #{event.date}" %></li>
        <% end %>
    </ul>
<% else %>
    <p> No events found.</p>
<% end %>

<% if @user %>
    <h3><%= link_to 'Your Events', user_path(@user) %></h3 >
<% end %>

